@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.span{
                    font-family: Fraunces;
                    font-size: 30px;
}

.paragraph {
                    font-size: 14px;
                    font-family:Montserrat ;
                    margin-top: 10px;
}


.many1 {
                    font-size: 30px;
                    color:  hsl(158, 36%, 37%);
                    font-family:  Fraunces;
}
.many2 {
                    text-decoration: line-through;
}
button {
                    background-color: hsl(158, 36%, 37%) ;
                    border: none;
                    width: 200px;
                    height: 40px;
                    color: white;
                    border-radius: 10px;
                    
}